/* global stylings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 1rem;
}
body {
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: rgb(39, 45, 53);
    color: #333;
}

h1 {
    font-size: 3.5rem;
    font-family: Signika;
    font-weight: lighter;
    color: #000;

}
h2 {
    font-size: 2rem;
    font-weight: 300;
}
h3 {
    font-size: 1.75rem;
    font-weight: normal;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
    margin: 0.75rem 0;
}
a {
    color: white;
    text-decoration: none;
}

.text-left {
    text-align: left;
}

blockquote {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

li,
button {
    font-size: 1rem;
}

/* Container styles, this adds margin to the left and right of the content and centers input */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

main{
    background: #fff;
}

section {
    padding: 1.5rem 0;
}

/******* nav section ********/

.main-head {
    background: rgb(39, 45, 53);
    color: rgb(252, 181, 48);
    min-height: 10vh;
    position: sticky;
    z-index: 0;
}

nav {
    display: flex;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}
#logo {
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 2.5rem;
    color: rgb(252, 181, 48);
}
nav ul {
    list-style: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: end;
    text-align: center;
}
nav ul li {
    min-width: 100px;
    display: flex;
}
nav ul li a {
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    width: 100%;
}
nav ul a:hover {
    background: rgb(68, 78, 92);
}
button {
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background: #126acd;
    color: white;
    transition: background 0.1s ease-in-out;
    border-radius: 2rem;
}
button:hover {
    border-radius: 2rem;
    background: -moz-linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa906",endColorstr="#00d4ff",GradientType=1);
}

/* hero section */

.hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), transparent),
        url("../image/christmas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 1rem 1rem 1rem black;
    text-align: center;
}
.hero h2 {
    font-size: 3.6rem;
}
.hero h3 {
    padding: 4rem;
}
.hero button {
    font-size: 1.3rem;
}

/* footer section */

footer {
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    padding: 2rem;
}
footer > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
}
footer h5 {
    margin-bottom: 1.5rem;
}
footer input {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background: rgb(68, 78, 92);
    color: white;
    transition: background 0.1s ease-in-out;
    margin-bottom: 0.25rem;
    margin-bottom: 1rem;
}
footer button {
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
footer h3 {
    text-align: center;
}

.icon-list {
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
}

.icon-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

form,
.email-form {
    display: flex;
    flex-direction: column;
}
form label {
    padding: 2rem;
    font-size: 1.5rem;
}

footer img {
    width: 2.5rem;
    height: 2.5rem;
}
.icon:hover{
    background:rgba(255,255,255,0.2);
    transform: scale(1.3);
}
.wrapper {
    flex: 1 1 20rem;
    min-height: 10vh;
    margin: 2rem 2rem;
    text-align: left;
    align-items: left;
    justify-content: center;
    background: none;
    padding: 2rem;
}
.wrapper ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.contact img {
    width: 2rem;
    margin-right: 1rem;
}
.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0;
    margin-bottom: 1rem;
}

.apps ul {
    justify-content: space-around;
    padding: 1rem;
}

/********* media queries *********/

@media screen and (max-width: 950px) {
    html {
        font-size: 50%;
    }

    nav ul a {
        padding: 0rem 1.2rem;
    }
    #logo {
        padding: 2rem 0rem;
    }
}

@media screen and (max-width: 747px) {
    nav {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    nav ul a {
        padding: 0;
    }
}



/* Home page styles */
.news-content{
    display: flex;
}

.news-content > *{
    flex: 1 1 0;
}

.news-content p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
}

.visitors{
    background-color: rgb(39, 45, 53);
    color: #fff;
    padding-bottom: 8rem;
}

.visitors h1{
    color: #FFF;
}


.list-visitors a {
    font-size: 1.5rem;
    font-weight: 300;
}

.list-visitors {
    list-style: none;
    display: flex;
    text-align: center;
    font-weight: 300;
}

.list-visitors li {
    flex: 1 1 0;
    border: 1px solid;
    margin-right: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-visitors hr {
    width: 50%;
}

.list-visitors img {
    width: 25%;
    margin-bottom: 1rem;
}


.list-visitors img:hover{
    filter: hue-rotate(135deg)
}

.list-visitors li:last-child {
    margin-right: 0;
}

.app-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app-container > *{
    flex: 1 1 0;
}

.app-container .app-text p
{
    text-align: left;
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

ol > li
{
    margin-bottom: 1rem;
}

ul, ol{
    margin-left: 2rem;
}

.app-container .app-text ul li
{
    font-size: 1.75rem;
    font-weight: 300;
}

.app-container .app-image
{
    display: flex;
    justify-content: center;
}

.app-container .app-image img{
    max-width: 60%;
    position: relative;
    top: -13rem;
    margin-bottom: -13rem;
}

/* Styles for info page*/

.page-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.page-heading h1{
    color: #FFF;
    text-shadow: 1px 1px 1px black;
}

.info-heading{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(../image/witchvalley.jpeg);
    background-size: cover;
    height: 250px;
}

.info-section{
    display: flex;
    align-items: end;
}


.info-section > *{
    flex-grow: 1;
    flex-basis: 0;
}


/* Booking form styles on info page */
.booking-form{
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 2rem;
    width: 75%;
    margin: 0 auto;
}

.booking-form label{
    padding: 0;
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.booking-form input, select{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: 1px solid #999;
    border-radius: 0.6rem;
    padding: 0.35rem 1rem;
}

/* Styles for attractions page */

.home-attractions{
    display: flex;
}

.home-attractions > *{
    flex: 1 1 0;
}

.attraction-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: rgba(255,255,255,0);
    overflow: none;
    text-align: center;
}

.attraction-card figure{
    height: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

.attraction-card figcaption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    pointer-events: none;
    opacity: 0;
    transition: 250ms ease-in-out;
}

.attraction-card:hover figcaption{
    opacity: 1;
}

.attraction-card img{
    position: relative;
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    height: 100%;
    transition: 250ms ease-in-out;
}

.attraction-card:hover img{
    transform: scale3d(1.15, 1.15, 1);
    filter: brightness(0.5);
}

.tabs-navigation {
    display: flex;
    list-style: none;
}

.tabs-navigation li:first-child {
    border-left: 1px solid #bbb;
}

.tabs-navigation li {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid #bbb;
    border-left: none;
    color: #bbb;
    text-align: center;
}

.tabs-navigation li.active,
.tabs-navigation li:hover {
    border-bottom: 1px solid transparent;
    color: #3793bc;
    cursor: pointer;
}

.tabs-navigation li.active img,
.tabs-navigation li:hover img {
    filter: none;
}

.tabs-navigation li img {
    width: 50%;
    display: block;
    margin: 10% auto;
    filter: grayscale(1);
    border-radius: 1em;
    box-shadow: 1px 1px 3px #666;
}

.tabs-navigation li button {
    width: 75%;
    border: none !important;
}

.tabs-content {
    border: 1px solid #bbb;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    padding-top: 1em;
}

.tabs-content .card {
    width: 25%;
    padding: 1em 1em;
}

.tabs-content .card img {
    width: 100%;
    min-height: 240px;
    border-radius: 1rem;
}

.tabs-content .card {
    text-align: left;
}

.tabs-content .card p {
    font-size: 0.78em;
}

.card h4{
    font-family: 'Bradley Hand','Brush Script MT',cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 1.7em;
    margin: 0;
}

hr{
    border: 0;
    border-top: 1px solid #d1d1d1;
    margin: 1rem 0 2rem;
}

@font-face {
    font-family: 'Signika';
    src: url('/fonts/Signika-Regular.ttf');
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf');
    font-weight: 300;
}