/*------- global stylings -------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* background: rgb(39, 45, 53); */
    color: #333;
}

h1 {
    font-size: 32px;
    margin: 0.87rem 0
}
h2 {
    font-size: 24px;
    
}
h3 {
    font-size: 18.72px;
    margin: 0.67em 0
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 13.28px;
}
h6 {
    font-size: 10.72px
}

a {
    color: white;
    text-decoration: none;   
}

button {
    font-size: 1.3rem;
}

p{
    margin: 0.67em 0;
}

blockquote {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

/* Container styles, this adds margin to the left and right of the content and centers input */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

main{
    background: #fff;
}

section {
    padding: 1.5rem 0;
}

.covid-notification {
    color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: rgb(39, 45, 53, 0.8);
    padding: 0 3rem 0 3rem;
    flex-wrap: wrap;
}
.covid-notification a {
    text-decoration: underline;
}

.close-icon {
    fill: white;
    position: absolute;
    top: 10px;
    right: 33px;
}
.close-icon:hover {
    fill: rgb(145, 145, 145);
}


/*---------- nav section -------------*/

.main-head{
    background: rgb(39, 45, 53);
    position: sticky;
    top: 0px;
    z-index: 5;
    box-shadow: 0 5px 10px -5px black;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    text-align: center;
}
nav img{
    height:50px;
}

nav ul { 
    list-style: none;
    width:100%;
    margin-left: 0;
}

nav ul li a {
    font-size: 17px;
    padding: 1rem 1rem;
}

nav ul li  {
    display:inline-block;
    padding: 1rem 0rem;
}

nav ul li:hover {
    background:rgb(68, 78, 92);
    border-radius: 1rem;
}

.search-icon{
    width:35px;
    fill:white;
}
.search-icon:hover{
    fill:rgb(121, 120, 120);
}
.menu{
    display:none;
}
.menu-line{
    width:25px;
    height:3px;
    background-color: white;
    margin-bottom:5px;
}
.menu:hover .menu-line{   
    background-color:rgb(121, 120, 120); 
}

.language {
    position: relative;
    display:flex;
    margin-right: 20px;   
  }

.language-icon{
    fill:white;
    width: 15px;
}
.language-text{
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.language-content {
    background-color: rgb(39, 45, 53);
    display: none;
    position: absolute;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 25px;
    margin-left:10px;
}

.language-content a {
    font-size: 15px;
    padding: 12px 7px;
    text-decoration: none;
    display: block;
}

.language:hover .language-content {
    display: block;
}

button {
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background: #126acd;
    color: white;
    transition: background 0.1s ease-in-out;
    border-radius:1rem;
}
button:hover {
    border-radius: 1rem;
    background: -moz-linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(255, 169, 6, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa906",endColorstr="#00d4ff",GradientType=1);
}

/*------- hero section -------*/

/* .hero {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), transparent),
        url("../image/christmas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 1rem 1rem 1rem black;
    text-align: center;
}
.hero h2 {
    font-size: 3.6rem;
}
.hero h3 {
    padding: 4rem;
}
.hero button {
    font-size: 1.3rem;
} */



 /*------- The main sliding banner ------*/

.carousel-wrapper{
    background-color: white;
    display: flex;
    height:550px;
    position:relative;
    max-width:1360px;
    margin:0 auto;
}
.carousel-item{
    position:absolute;
    color: white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 2px rgb(70, 69, 69);
    overflow: hidden;
}
.carousel-item h1{   
    padding-top: 320px;
    margin-bottom: 15px;
}
.carousel-item h1 a p{   
    z-index: 3;
}
.carousel-item::nth-child(-n +2){
    padding-right: 200px;
}

.carousel-description {
    font-size: 18px;
}

.arrow{
    border: solid rgba(255, 255, 255, 0.3);
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 17px; 
}
.arrow:hover {
    border-width: 0 9px 9px 0;
    padding: 19px; 
}

.arrow-prev{
    left:30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
}
  
.light{
    color:white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}  

  /*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background:url('/image/warehouse-design.jpeg');
    background-size:cover;
    -webkit-box-shadow: inset 5px -32px 35px -4px rgba(0,0,0,0.7); 
    box-shadow: inset 20px -100px 100px 100px rgba(0,0,0,0.5);
}
.item-2{
    background:url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Aerial_view_%2841514983791%29.jpg');
    background-size:cover;
    box-shadow: inset 20px -100px 100px 100px rgba(0,0,0,0.5);
}
.item-3{
    background:url('/image/hill-3.jpeg');
    background-size:cover;
    box-shadow: inset 20px -100px 100px 100px rgba(0,0,0,0.5);
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

@media all and (max-width: 768px) {
   .carousel-item h1{
       font-size: 26x;
   }
   .carousel-description {
        font-size: 14px;
    }
}

.chat-box img{
    float: right;
    width: 80px;
    z-index: 4;
}

.chat-box img:hover{
    transform: scale(1.1)
}

/*------- footer section --------*/

/* global styles */
footer {
    width: 100%;
    margin: auto;
    display: flex;
    min-height: 150px;
    justify-content:center;
    flex-wrap: wrap;
    background: rgb(39, 45, 53);
    color: white;
}

.wrapper {
    flex: 1 1 18rem;
    min-height: 10vh;
    margin: 1rem 1rem;
    text-align: left;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 1rem 0 1rem 3rem;
}
.wrapper:nth-of-type(4) {
    margin-bottom:3rem;
}

.wrapper ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

.appstore-icons {
    display: inline-flex;
}

.appstore-icons img {
    width: 120px;
    margin-right: 15px;
}

footer li{
    margin-right: 1.5rem;
}

footer img {
    width: 50px;  
    filter: grayscale(1) drop-shadow(5px 5px 5px #222);
}

.icon:hover{
    transform: scale(1.1);
}

/* Newsletter */
footer input {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgb(68, 78, 92);
    color: white;
    transition: background 0.1s ease-in-out;
    margin-bottom: 0.25rem;
    margin-bottom: 1rem;
}

footer button {
    border-radius: 1rem;
    margin-bottom: 1rem;
}
footer h3 {
    margin-bottom: 1.5rem;
    text-align: left;
}

footer h4 {
    padding-bottom: 1rem;
    
}

form,
.email-form {
    display: flex;
    flex-direction: column;
}
form label {
    padding: 2rem;
    font-size: 1.5rem;
}

/* contacts styles */
.contact img {
    width: 25px;
    margin-right: 10px;
    float:left;
}
.contact img:nth-child(3) {
    margin-bottom: 30px;  
}


.contact-item {
    font-size: 14px;
    padding: 0.25rem 0;
    margin-bottom: 1rem;
}

/* copyright item */
.footer-copyright {
    color: rgb(255, 255, 255);
    background: rgb(53, 61, 72);
    height: 40px;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding: 2px 25px; 
    font-size: 15px;
    text-align: center;
}

/********* media queries *********/

@media screen and (max-width: 1493px) {
    html {
        font-size: 80%;
    }
    nav ul a {
        padding: 0rem 1.2rem;
    }
}


@media screen and (max-width: 640px) {
    nav{
        flex-direction: column;
    }
    
    nav ul li{
        display: block;
        text-align: center;
    }
    .search-icon{
        position: absolute;
        top:10px;
        left: 10px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top:20px;
    }
    .language-text {
        font-size:17px;
        margin-left: 17px;;
    }
    .language-icon{
        display:none;
    }
    .language-content {
        margin-left: 20px;
    }
    .close-icon {
        fill: white;
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .footer-copyright {
        text-align: left;
        padding-left: 50px;
    }
    .wrapper:nth-of-type(1) {
        margin-right:4rem;
    }

}


/* Home page styles */
/* .current-news{
    display: flex;
    flex-wrap: wrap;
}
.image{
    min-height: 40vh;
    background: url('/image/design.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.news-content{
    display: flex;
}
.news-content p{
    padding: 2rem 0rem;
}
.news-content > *{
    flex: 1 1 0;
}

.news-content p{
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
} */

/* the category of visitors section */
.visitors h3{
    margin-bottom: 20px;
}
.visitors{
    background-color: rgb(39, 45, 53);
    color: #fff;
    padding-bottom: 4rem;
}

.visitors h1{
    color: #FFF;
}


.list-visitors a {
    font-size: 1.5rem;
    font-weight: 300;
}

.list-visitors {
    list-style: none;
    display: flex;
    text-align: center;
    font-weight: 300;
    margin-bottom: 1rem;

}

.list-visitors li {
    
    flex: 1 1 0;
    border: 1px solid;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-visitors hr {
    width: 50%;
}

.list-visitors img {
    width: 25%;
    margin-bottom: 1rem;
}

.list-visitors img:hover{
    filter: hue-rotate(135deg)
}

@media  (max-width:768px){
    .list-visitors{
        display: inline-block;
        width: 90%;
        margin: 1rem 1rem 2rem 2rem;
    }
}


/*this is Download App section*/
.app-container {
    display: grid;
    grid-template-columns:1fr 1fr; 
}
.app-hr {
    box-align: left;
    width: 500px;
}

.app-text p
{
    text-align: left;
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
}
.app-text ul{
    margin-left: 50px;
}
.app-text li{
    margin-bottom: 10px;
}

.app-text ul li
{
    font-size: 1.75rem;
    font-weight: 300;
}

.app-image img{
    max-width: 100%;
    max-height: 700px;
    position: relative;
    top: -13rem;
    margin: 0 2rem -17rem 6rem;
    filter: drop-shadow(5px 5px 5px #222);
}

@media screen and (max-width:768px){
    .app-text p{
        text-align: left;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .app-text ul li{
        font-size: 1.2rem;
        font-weight: 300;
    }
    .app-image img{
        max-height: 400px;
        top: 0rem;
        margin: -3rem 0 -3rem 1rem;
    }
    .app-text ul{
        margin-left: 30px;
        margin-bottom: 3rem;
    }
}


/*this is the discount section*/
.offers {
    display: grid;
    grid-template-columns:1fr 1fr; 
    align-items: center;
}
.offers img {
    filter: drop-shadow(5px 5px 5px #222);
    width: 80%;
    margin: 2rem 0 2.5rem 3rem;
}

.discount-text p
{
    text-align: left;
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.discount-text {
    margin-left: 40px;
    margin-right: 40px;
}

.discount-text li{

    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 300;
}


@media screen and (max-width:850px){
    .offers {
        grid-template-columns:1fr; 
    }
    .discount-text p {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
    .discount-text ul li{
        font-size: 1.2rem;
        font-weight: 300;
        padding-right: 1em;
    }
}



/* Styles for info page*/

.page-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.page-heading h1{
    color: #FFF;
    text-shadow: 1px 1px 1px black;
}

.info-heading{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(../image/witchvalley.jpeg);
    background-size: cover;
    height: 250px;
}

.info-section{
    display: grid;
    grid-template-columns:1fr 1fr;
    font-size: 17px;
    margin-left: 2rem;
}

.info-booking {
    width: 100%;
    margin-left:1rem;
    text-align: left;
}

.info-section p {
    font-size: 17px
}
.info-section ol{
    display: flex;
    flex-direction: column;
    grid-template-columns:1fr 1fr;
}

.info-section ol li {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width:768px){
    .info-section{
        grid-template-columns: 1fr;
    }
}


/* Booking form styles on info page */
.booking-form{
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    margin-left:2rem;
}

.booking-form label{
    padding: 0;
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 0.5rem;
}

.booking-form input, select{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border: 1px solid #999;
    border-radius: 0.6rem;
    padding: 0.35rem 1rem;
}

/* FAQ section */
.faq-section{
    text-align: left;
    font-size:140%;
    font-weight: 200;
}

.faq-section h3{
    text-decoration: underline;
    padding-top:1rem;
    padding-bottom: 0.5rem;
}

.faq-section summary:hover{
    cursor: pointer;
}
.faq-details {
    margin-left:1rem;
}

.faq-section p{
    padding-left: 1.5rem;
    padding-bottom: 1rem;

}

summary{
    font-weight: bold;
}

details{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*------ Styles for attractions page -----*/

.home-attractions{
    display: flex;
}

.home-attractions > *{
    flex: 1 1 0;
} 

.attraction-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: rgba(255,255,255,0);
    overflow: none;
    text-align: center;
    
}

.attraction-card figure{
    height: 100%;
    margin-bottom: 1rem;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.attraction-card figcaption{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    pointer-events: none;
    opacity: 0;
    transition: 250ms ease-in-out;
}

.attraction-card:hover figcaption{
    opacity: 1;
}

.attraction-card img{
    position: relative;
    max-width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    height: 100%;
    transition: 250ms ease-in-out;
}

.attraction-card:hover img{
    transform: scale3d(1.15, 1.15, 1);
    filter: brightness(0.5);
}

@media screen and (max-width:780px){
    .home-attractions{
        display: inline-block;
    }

    figcaption p {
        font-size: 16px;
        margin-bottom: 13px;
    }
    
    .attraction-card {
        max-height: 350px;
        width: 90%;
        margin-left: 2rem;
    }
    
    /* .home-attractions > *{
        flex: auto
    } */
}

/*---- attractions  end -----*/

.tabs-navigation {
    display: flex;
    list-style: none;
}

.tabs-navigation li:first-child {
    border-left: 1px solid #bbb;
}

.tabs-navigation li {
    flex-basis: 0;
    flex-grow: 1;
    border: 1px solid #bbb;
    border-left: none;
    color: #bbb;
    text-align: center;
}

.tabs-navigation li.active,
.tabs-navigation li:hover {
    border-bottom: 1px solid transparent;
    color: #3793bc;
    cursor: pointer;
}

.tabs-navigation li.active img,
.tabs-navigation li:hover img {
    filter: none;
}

.tabs-navigation li img {
    width: 50%;
    display: block;
    margin: 10% auto;
    filter: grayscale(1);
    border-radius: 1em;
    box-shadow: 1px 1px 3px #666;
}

.tabs-navigation li button {
    width: 75%;
    border: none !important;
}

.tabs-content {
    border: 1px solid #bbb;
    border-top: none;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 1em;
}

.tabs-content .card {
    width: 100%;
    padding: 1em 1em;
}

.tabs-content .card img {
    width: 100%;
    min-height: 300px;
    border-radius: 1rem;
}

.tabs-content .card {
    text-align: left;
}

.tabs-content .card p {
    font-size: 0.78em;
}

@media screen and (max-width:768px){
    .tabs-content {
        grid-template-columns:1fr 1fr 1fr;
    }
    .tabs-content .card img {
        min-height: 170px;
    }
}
@media screen and (max-width:580px){
    .tabs-content {
        grid-template-columns:1fr 1fr;
    }
    .tabs-content .card img {
        min-height: 200px;
    }
}

.card h4{
    font-family: 'Bradley Hand','Brush Script MT',cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 1.7em;
    margin: 0;
}

hr{
    border: 0;
    border-top: 1px solid #d1d1d1;
    margin: 1rem 0 2rem;
}

@font-face {
    font-family: 'Signika';
    src: url('/fonts/Signika-Regular.ttf');
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf');
    font-weight: 300;
}